#Home {
    width: 90%;
    max-width: 1100px;
    margin: 2rem auto;
    padding-top: 3rem;
    color: aliceblue;
}

#Home .homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 3.5rem 0 0 0;
}

#Home .homeContainer span {
    position: relative;
    color: #a560e2;
    padding-left: .5rem;
}

#Home .homeContainer span::before {
    content: 'Mobile App Developer';
    color: #a560e2;
    animation: words 20s infinite;
}

#Home .homeContainer span::after {
    content: "";
    position: absolute;
    background-color: rgb(44, 28, 52);
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #a560e2;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;

}

@keyframes cursor {
    to {
        border-left: 2px solid #a560e2;
    }
}

@keyframes words {

    0%,
    20% {
        content: "Web App Developer";
    }

    21%,
    40% {
        content: 'Mobile App Developer'
    }

    41%,
    60% {
        content: 'Web App Developer';
    }

    61%,
    80% {
        content: "Mobile App Developer";
    }

    81%,
    100% {
        content: "Web App Developer";
    }

}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

.homeContainer h1 {
    font-size: 3rem;
    max-width: 80%;
    margin: 0 auto;
    font-weight: 600;
    text-align: center;

}

.homeContainer h3 {
    font-size: 1.2rem;
    max-width: 80%;
    font-weight: 600;
    text-align: center;

}

.homeContainer p {
    text-align: center;
    font-size: .9rem;
    max-width: 80%;
    padding: 2rem 0;
}

.homeContainer .homeButtons {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.homeContainer .homeButtons a {
    padding: 10px 2rem;
    border-radius: 10px;
    background-color: #a560e2;
    color: #ffeeee;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 2px solid #9b45e6;
    -webkit-box-shadow: 6px -5px 27px -15px #a560e2;
    -moz-box-shadow: 6px -5px 27px -15px #a560e2;
    box-shadow: 6px -5px 27px -15px #a560e2;

}

.homeContainer .homeButtons a:hover {
    color: #a560e2;
    background-color: #ffeefe;
    border: 2px solid #ffeeee;
    -webkit-box-shadow: 6px -5px 27px -15px #ffeeee;
    -moz-box-shadow: 6px -5px 27px -15px #ffeeee;
    box-shadow: 6px -5px 27px -15px #ffeeee;

}

@media screen and (max-width:600px) {
    .homeContainer h1 {
        font-size: 2rem;
        max-width: 80%;
        margin: 0 auto;
        font-weight: 600;
        text-align: center;

    }

    .homeContainer .homeButtons {
        display: flex;
        gap: 1rem;
        padding: .4rem;
    }

    .homeContainer a {
        padding: 10px 2rem;
        background-color: #a560e2;
        color: #ffeeee;
        font-size: .6rem;

    }
}