nav {
    background-color: rgb(39, 23, 48);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.navContainer {
    padding: 1rem 0;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .navContainer .navIcon a {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

nav .navContainer>.navLinks ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav .navContainer .navLinks ul li a {
    color: #fff;
    font-size: .8rem;
    font-weight: 500;
}

nav .navContainer .drawer {
    width: 70%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Set a semi-transparent background color */
    backdrop-filter: blur(10px);
    /* Apply a blur effect to the backdrop */
    color: #ffeeee;
}

nav .navContainer .drawer .navLinks {
    display: flex;
}

nav .navContainer .drawer .navLinks ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
}

nav .navContainer .drawer #hamburger {
    position: absolute;
    top: 2%;
    right: 5%;
    color: #ffeeee;
    font-weight: bold;
}

nav .navContainer .drawer .navLinks ul li {
    color: #fff;
    font-size: .8rem;
    display: inline-block;
    font-weight: 500;
    width: 100%;
    padding: 1.4rem;
}

nav .navContainer .drawer .navLinks ul li:active {
    background-color: #a560e2;
}

nav .navContainer .drawer .navLinks ul li a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}


.navBtn {
    color: #ffeeee;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 1rem; */
}

.navBtn a {
    color: #a560e2;
    font-size: .8rem;
    border: 1px solid #a560e2;
    padding: .3rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.navBtn #hamburger {
    color: #a560e2;
    font-weight: bold;
    border: none;
    padding: 0 0 0 1rem;
    line-height: 2px;
    display: none;
}

@media only screen and (max-width: 800px) {
    nav .navContainer .navLinks {
        display: none;
    }

    nav .navContainer .navBtn #hamburger {
        display: flex;
    }



}

@media only screen and (min-width: 600px) and (max-width:768px) {
    .navLinks ul {
        gap: 1rem;
    }

}